# Nach Datei
set terminal png size 1280,720 enhanced \
             font 'Helvetica,20' linewidth 2
#set output "Mehrgitter.eps"

# Plot
set grid
set zrange [0:1]
#splot "*.matrix" matrix using 1:2:3 with lines
